body {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  align-items: center;
  color: rgb(58, 123, 126);
}
.header {
  font-size: 6vw;
}

.grid {
  /* display: table flex;
  justify-content: center;
  align-items: center;
  justify-content: center; */
  display: block;
}
.square {
  border: 2px solid rgb(58, 123, 126);
  color: rgb(58, 123, 126);
  background-color: black;
  border-radius: 10%;
  height: 75px;
  width: 75px;
  font-size: 4vw;
  font-weight: bolder;
}

.restart {
  height: 40px;
  width: 100px;
  margin-top: 30px;
  background-color: rgb(58, 123, 126);
  border-radius: 10%;
  border-color: rgb(58, 123, 126);
  color: black;
  font-size: 2vw;
}
